<section>
  <ul class="grid-3-col">
    <li>
      <!-- <img src={urlForImage(post.image1).url()} alt="">
        <img src={urlForImage(post.image2).url()} alt="">
        <img src={urlForImage(post.image3).url()} alt=""> -->
      <!-- <img src={urlForImage(post.image4).url()} alt="">
        <img src={urlForImage(post.image5).url()} alt="">
        <img src={urlForImage(post.image6).url()} alt=""> -->
    </li>
  </ul>
</section>
